*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #ffffff 0%, #c5c5c5 30%, #3a3a3a 100%);
}

.sessionContainer {
    border: 1px solid black;
    border-radius: 10px;
}
.mySessions {
	display: flex;
	justify-content: space-around;
}

.inSession {
	padding: 10px 25px;
	border-radius: 15px;
}
.inSession > h2 {
    margin-top: 0px;
    text-align: center;
}

.sessionInput {
    padding: 10px;
    margin: 0px;
}
.sessionbtn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        height: 200px;
    }
    nav > * {
        padding: 0px;
    }
    #logo {
        height: 75px;
        width: 300px;
    }
    .mySessions {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}