*,
::before,
::after {
  box-sizing: border-box;
  color: black;
  /*border: 1px solid black;*/
}
nav {
	display: flex;
    min-width: 600px;
    max-width: 800px;
	justify-content: space-between;
	align-items: center;
    margin-top: 20px;
}
.nav_btn {
	padding: 10px 40px;
	border-radius: 15px;
	text-decoration: none;
}
.nav_btn:link, .nav_btn:visited {
	border-style: solid;
	color: #1d2222;

}

.nav_btn:hover {
	background-color: #1d2222;
	color: white;
}

.nav_btn:active {
	background-color: slategray;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.paypool_container {
    display: unset;
}
form {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to bottom, #9b9696 0%, #696767 100%);
    box-shadow: 5px 5px 10px rgba(5,5,5,0.5);
}
input {
    margin: 10px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
input[type="submit"] {
    background: linear-gradient(to bottom, #717171 0%, #3a3a3a 100%);
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
}
.users_in_session, .text_output {
    box-shadow: 5px 5px 10px rgba(5,5,5,0.5);
    background: linear-gradient(to bottom, #9b9696 0%, #696767 100%);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.members_table, .transactions_table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    height: unset;
}
@media screen and (max-width: 800px) {
    .paypool_container {
        display: unset;
    }
    nav {
        flex-direction: column;
        height: 200px;
        max-width: unset;
        min-width: unset;
    }
    nav > * {
        padding: 0px;
    }
    #logo {
        height: 75px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .paypool_container {
        display: grid;
        grid-template-columns: 200px 200px 200px 300px;
        grid-template-rows: auto auto auto auto 1fr;
        background-color: rgb(255, 255, 255);
        gap: 10px;
        margin: 0px;
        padding: 0px;
    }
    .users_in_session {
        order: 0;
        grid-column: 1 / -1;
    }
    .email_section {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        background-color: pink;
    }
    form {
        margin: 0px;
        padding: 0px;
    }
    .members_table {
        grid-column: 2 / 5;
        grid-row: 2 / 4;
        height: 100%;
    }
    
    .transaction_section {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }
    .transactions_table {
        grid-column: 2 / 5;
        grid-row: 4 / 6;
        height: 100%;
    }
    .plural_transaction, .single_transaction {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .remove_transaction_section {
        grid-column: 3 / -1;
        grid-row: 6 / 7;
    }
    .delete_paypool_section {
        order: 7;
        grid-column: 1/ -1;
    }
}