body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
	color: rgb(255, 255, 255);
    padding:0 10px;
	background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
}

h1,h2,h3 {
    line-height:1.2
}

h1 {
    text-align: center;
}
img {
    max-width: 200px;
    height: 100px;
    margin: 0px;
}
.logo_container {
    display: grid;
    grid-template-columns: 120px 100px;
    align-items: center;
    justify-content: center;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
    margin-top: 20px;
}

.session {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signIn, .signup {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.input_areas, #enter_session {
	margin-bottom: 15px;
	width: 100%;
}

.signin_btn, .signup_btn {
	margin-top: 5px;
	margin-bottom: 25px;
}

.signInForm, .signupForm {
	padding: 50px;
	padding-top: 20px;
	background-color: #1d2222;
	color: white;
	border-radius: 20px;
}

.darkLinks:link, .darkLinks:visited {
	color: lightgray;
}

.darkLinks:active {
	color: #65c74e;
}

.error {
	color: red;
	margin: 0px;
}

.nav_btn {
	padding: 10px 40px;
	border-radius: 15px;
	text-decoration: none;
}

.nav_btn:link, .nav_btn:visited {
	border-style: solid;
	color: white;
	background-color: #1d2222;
}

.nav_btn:hover {
	background-color: #1d2222;
	color: white;
}

.nav_btn:active {
	background-color: slategray;
}

#createbtn {
	height: 50px;
	width: 150px;
	margin-top: 10px;
	margin-bottom: -10px;
	background-color: #1d2222;
	color: white;
	font-size: 13;
	cursor: pointer;
	border-radius: 15px;
}

#createbtn:hover {
	background-color: gray;
}

#createSessionDiv {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.mySessions {
	display: flex;
	justify-content: space-around;
}

.inSession {
	padding: 10px 25px;
	border-radius: 15px;

}

#enterSession {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#emailPlaceholder {
	width: 30%;
}

body > div.manager-food {
	background-color: purple;
}

.input_areas {
	font-size: 16px;
}